:root {
	--primary: #ef444d;
	--secondary: #1b325b;
	--third: #f2f9ef;
}

* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "Poppins Regular";
	src: url(../font/Poppins-Regular.woff2) format("woff2");
}

body {
	overflow-x: hidden;
}

.navbar {
	display: flex;
	position: fixed;
	min-width: 100vw;
	height: 10vh;
	align-items: center;
	color: var(--secondary);
	font-family: "Poppins Regular";
	z-index: 100;
	background-color: #f2f9ef6e;

	-webkit-backdrop-filter: blur(3px);
	backdrop-filter: blur(3px);
}

nav > .fill-nav {
	display: flex;
	justify-content: space-between;
	margin: auto;
	width: 80%;
}

nav > .fill-nav > h4 > a {
	text-decoration: none;
	color: var(--secondary);
}

nav > .fill-nav > h4 {
	transition: 500ms;
}

nav > .fill-nav > h4:hover {
	transform: rotate(-6deg);
}

nav > .fill-nav > ul {
	display: flex;
	width: 40%;
	justify-content: space-between;
}

nav > .fill-nav > ul > li {
	list-style: none;
}

nav > .fill-nav > ul > li > a {
	text-decoration: none;
	color: var(--secondary);
}
